<a href="https://colab.research.google.com/github/NguyenTanPhat20146511/B-i-t-p-Robot/blob/main/AITuan2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
url='http://winterolympicsmedals.com/medals.csv'

In [ ]:
data=pd.read_csv(url)
data[data['NOC']=='CAN'].head(2300)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
54,1928,St. Moritz,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
92,1932,Lake Placid,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
93,1932,Lake Placid,Skating,Figure skating,CAN,individual,M,Bronze
94,1932,Lake Placid,Skating,Speed skating,CAN,10000m,M,Bronze
...,...,...,...,...,...,...,...,...
2105,2006,Turin,Skating,Speed skating,CAN,Team pursuit,W,Silver
2106,2006,Turin,Skiing,Cross Country S,CAN,Sprint 1.5km,W,Gold
2107,2006,Turin,Skiing,Cross Country S,CAN,Team sprint,W,Silver
2108,2006,Turin,Skiing,Freestyle Ski.,CAN,moguls,W,Gold
2109,2006,Turin,Skiing,Snowboard,CAN,Snowboard Cross,W,Bronze

In [5]:
print('So huy chuong vang')
data[(data['NOC']=='CAN') & (data['Medal']=='Gold')].drop(data.columns[0:7],axis=1).count()

So huy chuong vang

Medal    38
dtype: int64